@use '../../base/base';
@use '../../base/colors';
@use '../../base/font';

.headline {
    @include font.ubuntu-regular;

    margin-top: 0;
    margin-bottom: base.$font-size-base * .5;
    font-style: null;
    line-height: 1.2;
    color: colors.$font-color-default;

    &.headline--h1 {
        font-size: base.$h1-font-size;
    }

    &.headline--h2 {
        font-size: base.$h2-font-size;
    }

    &.headline--h3 {
        font-size: base.$h3-font-size;
    }

    &.headline--h4 {
        font-size: base.$h4-font-size;
    }

    &.headline--h5 {
        font-size: base.$h5-font-size;
    }

    &.headline--h6 {
        font-size: base.$h6-font-size;
    }
}