@use '../../utilities/helpers';
@use '../../base/responsive';

.page-content {
    /* Just a Mockup for the Moment */
    @include responsive.from('sm') {
        width: 60%;
        margin-left: 20%;
        margin-bottom: helpers.px2rem(50px);
    }
}