@use '../../utilities/helpers';
@use '../../base/colors';
@use '../../base/font';
@use '../../base/responsive';


.logo {
    margin-top: 0;
    text-align: center;

    @include responsive.from('sm') {
        margin-bottom: helpers.px2rem(15px);
    }

    &__link {
        @include font.josefinsans-light;

        color: colors.$font-color-title;
        text-decoration: none;
        text-transform: uppercase;
        font-size: helpers.px2rem(40px);
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }

        @include responsive.until('sm') {
            font-size: helpers.px2rem(37px);
        }
    }

    &__image {
        height: helpers.px2rem(60px);

        @include responsive.until('sm') {
            height: helpers.px2rem(50px);
        }
    }

    &__subtitle {
        font-size: helpers.px2rem(14px);
    }
}

